@font-face {
    font-family: 'Kenteken';
    src: url('../fonts/kenteken.eot');
    src: url('../fonts/kenteken.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kenteken.woff2') format('woff2'),
         url('../fonts/kenteken.woff') format('woff'),
         url('../fonts/kenteken.ttf') format('ttf'),
         url('../fonts/kenteken.svg#Kenteken') format('svg');
    font-style: normal;
    font-weight: 300;
}